[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	name = Huy Lai
	email = 98334390+lai-huy@users.noreply.github.com
	signingkey = C2C44848113F05A1
[core]
    editor = nvim

[push]
	default = simple
[init]
	defaultBranch = main
[credential]
	helper = store
