[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	name = Huy Lai
	email = 98334390+lai-huy@users.noreply.github.com
	signingkey = 21E41A7425A51923
[core]
    editor = nvim

[push]
	default = simple
