snippet cpp "cpp"
# Compiler and flags
CXX = g++-15
CXXFLAGS = -std=c++23 -Wall -Wextra -Weffc++ -pedantic-errors -g

# Targets
TARGET = main.out
SRC = main.cpp

.DEFAULT_GOAL := run
.PHONY: all clean run valgrind

all: $(TARGET)

$(TARGET): $(SRC)
	$(CXX) $(CXXFLAGS) -o $@ $(SRC)

clean:
	rm -rf $(TARGET)

build: $(TARGET)

run: clean build $(TARGET)
	./$(TARGET)

valgrind: $(TARGET)
	valgrind --leak-check=full --show-leak-kinds=all -s ./$(TARGET)

endsnippet

